
# Private files and notes

/_*/

todo.txt


# User-specific files

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs


# Build results

/Source/[Bb]in/
/Source/[Oo]bj/
/Source/[Ll]og/

# IDE special folders

/Source/.vs
/Source/.idea